workflows/1-Content-Generator.json
{
  "name": "linkedin-autobot-content-generator",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-5-20250929"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a Senior Software Engineer. Write a LinkedIn post in English starting from this news. Use a professional yet engaging tone. Insert a final question to stimulate comments. Use clean formatting, spacing, and a few relevant emojis, but don't overdo it.\nFundamental rule: The output must be plain text ready to be pasted on LinkedIn. DO NOT USE Markdown formatting (no asterisks for bold, no hashes for titles). Use line breaks to separate paragraphs, UPPERCASE to emphasize keywords, and emojis (e.g., 🔹, 🎯) to create visual bullet points. Keep standard hashtags at the end of the post.\nMISTAKE TO AVOID: Never start the title with the # character. Never enclose words in asterisks.\nEXAMPLE OF CORRECT FORMATTING:\nPOST TITLE IN UPPERCASE\nParagraph text without strange symbols.\n🔹 Bullet point 1\n🔹 Bullet point 2\nOUTPUT ORDER: Write ONLY the text of the post, without preambles like \"Here is the post:\" or \"Certainly\".\n\nTitle: {{ $json.title }}\nSummary: {{ $json.contentSnippet }}\nLink to insert at the end of the post: {{ $json.link }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [1040, 0],
      "id": "f812cb5a-f256-4401-a9ae-75aa0cd4d299",
      "name": "Message a model",
      "credentials": {
        "anthropicApi": {
          "id": "CWoxlh0r6BmWNycb",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "YOUR_GITHUB_USER",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "YOUR_GITHUB_REPO",
          "mode": "list",
          "cachedResultName": "YOUR_GITHUB_REPO",
          "cachedResultUrl": "https://github.com/YOUR_GITHUB_USER/YOUR_GITHUB_REPO"
        },
        "filePath": "=drafts/post_{{ $now.toFormat('yyyyMMdd_HHmmss') }}_{{ $itemIndex }}.md",
        "fileContent": "={{ $json.content[0].text }}",
        "commitMessage": "chore(docs): new draft generated by Claude"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [1392, 0],
      "id": "31050ac1-0d6c-4d51-bcc4-aa68cc2e7268",
      "name": "Create a file",
      "webhookId": "6496e95b-aad7-4ef3-8462-e227dcafab0c",
      "credentials": {
        "githubApi": {
          "id": "OFrC1IJwp0FAigmm",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $('Message a model').item.json.content[0].text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Approve and Publish",
                    "additionalFields": {
                      "callback_data": "approve"
                    }
                  },
                  {
                    "text": "🔄 Ignore/Regenerate",
                    "additionalFields": {
                      "callback_data": "reject"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1600, 0],
      "id": "3978d4f1-e712-470a-9e0f-f862aee72219",
      "name": "Send a text message",
      "webhookId": "bb4e1a1e-cff0-4a7a-bf4f-2176bc50c6ee",
      "credentials": {
        "telegramApi": {
          "id": "scBJeS0OGUa8dVix",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [400, 0],
      "id": "b4f1d1eb-b758-4df6-9a2a-5b16123a66fb",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "jsCode": "return [\n  { url: \"https://news.ycombinator.com/rss\", source: \"Hacker News\" },\n  { url: \"https://blog.pragmaticengineer.com/rss/\", source: \"Pragmatic Engineer\" },\n  { url: \"https://huggingface.co/blog/feed.xml\", source: \"Hugging Face\" },\n  { url: \"https://github.blog/category/engineering/feed/\", source: \"GitHub Engineering\" },\n  { url: \"https://aws.amazon.com/blogs/architecture/feed/\", source: \"AWS Architecture\" }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [176, 0],
      "id": "3adca6a7-04b1-4d0f-98a5-c1dbe2c20fdc",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ad210848-1ee9-40fe-ab5c-95cc583f14cf",
              "leftValue": "={{ \n  /ai|robot|llm|software|engineer|code|programming|developer|coding|cloud|architecture/i.test($json.title || '') \n  && \n  new Date($json.pubDate) > $now.minus({ hours: 24 }).toJSDate() \n}}",
              "rightValue": "(?i)(ai\nrobot\nllm\nsoftware\nengineer\ncode\nprogramming\ndeveloper\ncoding\ncloud\narchitecture)",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [592, 192],
      "id": "06e687ba-947c-4e69-ae4f-580bc05e26d5",
      "name": "Filter"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [880, 192],
      "id": "e663ea84-339f-4260-9908-e9742a1b5b60",
      "name": "Limit"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-64, 0],
      "id": "9909c4b1-a811-4251-b14e-100af2cdd690",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "28a825ca-1cf0-4c82-8309-e87bc202cc9d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9cd725cc4c4a83399c54a94a7028cd48df30a8e9e3da9b55a3aa87bdf0ff5583"
  },
  "id": "NlOSXvnstCMgmr0L",
  "tags": []
}
