workflows/2-Listener-Publisher.json
{
  "name": "linkedin-autobot-telegram-listener",
  "nodes": [
    {
      "parameters": {
        "updates": ["callback_query"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "0d6bd8d2-9a87-47ef-b588-e1f1055b6f48",
      "name": "Telegram Trigger",
      "webhookId": "5cbaa68f-9af9-45a4-b819-13d158a60d11",
      "credentials": {
        "telegramApi": {
          "id": "scBJeS0OGUa8dVix",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "865e8bff-5d00-4c27-b445-afda6608baef",
              "leftValue": "={{ $json.callback_query.data }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [208, 0],
      "id": "0d68f22e-2003-41de-9604-daee6db99bf6",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Telegram Trigger').item.json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "❌ Draft rejected and deleted",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [416, 96],
      "id": "f3e19246-e26e-4527-b130-2caec749c81f",
      "name": "Handle Post Reject",
      "webhookId": "83f85633-07ed-4507-bede-7b9155e330d2",
      "credentials": {
        "telegramApi": {
          "id": "scBJeS0OGUa8dVix",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Telegram Trigger').item.json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "✅ Post published successfully!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [816, -96],
      "id": "cd573368-b52e-4bec-ac5c-8a6be10fa22d",
      "name": "Handle Post Approve",
      "webhookId": "83f85633-07ed-4507-bede-7b9155e330d2",
      "credentials": {
        "telegramApi": {
          "id": "scBJeS0OGUa8dVix",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"author\": \"urn:li:person:\" + $json.sub,\n    \"lifecycleState\": \"PUBLISHED\",\n    \"specificContent\": {\n      \"com.linkedin.ugc.ShareContent\": {\n        \"shareCommentary\": {\n          \"text\": $('Telegram Trigger').item.json.callback_query.message.text\n        },\n        \"shareMediaCategory\": \"NONE\"\n      }\n    },\n    \"visibility\": {\n      \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n    }\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [624, -96],
      "id": "5de3b6f9-5d21-4057-8c6d-82bdcd507604",
      "name": "Push post on LinkedIn",
      "credentials": {
        "oAuth2Api": {
          "id": "irDuvTleWhRyX2Ch",
          "name": "Linkedin"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [416, -96],
      "id": "3a348528-adac-4d20-a1c0-a152294c1942",
      "name": "Get Linkedin Sub",
      "credentials": {
        "oAuth2Api": {
          "id": "irDuvTleWhRyX2Ch",
          "name": "Linkedin"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Linkedin Sub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Post Reject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push post on LinkedIn": {
      "main": [
        [
          {
            "node": "Handle Post Approve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Linkedin Sub": {
      "main": [
        [
          {
            "node": "Push post on LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "50d62f2a-4a08-4e31-9214-462ac336d4ea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9cd725cc4c4a83399c54a94a7028cd48df30a8e9e3da9b55a3aa87bdf0ff5583"
  },
  "id": "nuG5GnOmpM6nPbTr",
  "tags": []
}
